.AgregarCarrito{
    position: relative;
    right: 252px;
    top: 54px;
    width: 256px;
    border: solid 1px black;
    border-radius: 10px;
}

.Counter{
  width: 200px;  
  text-align: center;
}

.Decrease, .Increase{
  position: relative;
  background-color: transparent;
  outline: none;
  border: none;
}